body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btnclass{
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: var(--app-primary-color);
  margin: 0;
  padding: 8px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}

.btnclass:active {
  background-color: #000;
  color: #FFF;
}

.btnclass:focus {
  background-color: #c5cad3;
}


.h2, h2 {
  font-size: 1.3rem;
}

.logo a {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: var(--app-primary-color);
  text-decoration: none;
  display: inline-block;
  pointer-events: auto;
}
.logo a:hover{
  text-decoration: none;
  color: #202020
}


.mainmenu a {
  display: inline-block;
  outline: none;
  padding: 9px 5px;
  font-size: 17px;
  text-decoration: none;
  color: #202020
}

.mainmenu a:hover{
  color: #202020;
  text-decoration: none;
}

.is-active{ border: 1px solid #dfe8f1;    border-bottom: 2px solid #212529;}